## Exercises Part I

Make a file named `pandas_series.py` or `pandas_series.ipynb` for the following exercises.

Use pandas to create a Series named fruits from the following list:

        ["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"]
        
Use Series attributes and methods to explore your fruits Series.

In [17]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt

In [19]:
fruits = ["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"]

In [21]:
fruits = pd.Series(fruits)
fruits

0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
9                 kiwi
10                kiwi
11                kiwi
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

In [22]:
type(fruits)

pandas.core.series.Series

1. Determine the number of elements in fruits.

In [23]:
fruits.size

17

In [24]:
fruits.shape

(17,)

2. Output only the index from fruits.

In [25]:
fruits.index

RangeIndex(start=0, stop=17, step=1)

3. Output only the values from fruits.

In [26]:
fruits.values

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew', 'kiwi',
       'kiwi', 'kiwi', 'mango', 'blueberry', 'blackberry', 'gooseberry',
       'papaya'], dtype=object)

4. Confirm the data type of the values in fruits.

In [27]:
fruits.dtype

dtype('O')

5. Output only the first five values from fruits. Output the last three values. Output two random values from fruits.

In [28]:
fruits.head(5)

0          kiwi
1         mango
2    strawberry
3     pineapple
4    gala apple
dtype: object

In [29]:
fruits.tail(3)

14    blackberry
15    gooseberry
16        papaya
dtype: object

In [30]:
fruits.sample(2)

3     pineapple
7    watermelon
dtype: object

6. Run the `.describe()` on fruits to see what information it returns when called on a  Series with string values.

In [31]:
fruits.describe()

count       17
unique      13
top       kiwi
freq         4
dtype: object

7. Run the code necessary to produce only the unique string values from fruits.

In [32]:
fruits.unique()

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew',
       'blueberry', 'blackberry', 'gooseberry', 'papaya'], dtype=object)

In [34]:
fruits.nunique()

13

8. Determine how many times each unique string value occurs in fruits.

In [35]:
fruits.value_counts()

kiwi                4
mango               2
strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
dtype: int64

9. Determine the string value that occurs most frequently in fruits.

In [44]:
fruits.value_counts().head(1)

kiwi    4
dtype: int64

In [46]:
fruits.value_counts().idxmax()

'kiwi'

In [48]:
fruits.value_counts().nlargest(n = 1, keep = "all")

kiwi    4
dtype: int64

10. Determine the string value that occurs least frequently in fruits.

In [49]:
fruits.value_counts().nsmallest(n = 1, keep = 'all')

strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
dtype: int64

___

## Exercises Part II

 Explore more attributes and methods while you continue to work with the fruits Series.

1. Capitalize all the string values in fruits.

In [54]:
fruits.str.capitalize()

0                 Kiwi
1                Mango
2           Strawberry
3            Pineapple
4           Gala apple
5     Honeycrisp apple
6               Tomato
7           Watermelon
8             Honeydew
9                 Kiwi
10                Kiwi
11                Kiwi
12               Mango
13           Blueberry
14          Blackberry
15          Gooseberry
16              Papaya
dtype: object

2. Count the letter "a" in all the string values (use string vectorization).

In [55]:
fruits.str.count('a')

0     0
1     1
2     1
3     1
4     3
5     1
6     1
7     1
8     0
9     0
10    0
11    0
12    1
13    0
14    1
15    0
16    3
dtype: int64

3. Output the number of vowels in each and every string value.

In [98]:
number_of_vowels = fruits.str.lower().str.count('[aeiou]')
number_of_vowels

0     2
1     2
2     2
3     4
4     4
5     5
6     3
7     4
8     3
9     2
10    2
11    2
12    2
13    3
14    2
15    4
16    3
dtype: int64

4. Write the code to get the longest string value from fruits.

In [99]:
longest_string = fruits.str.lower().str.len().max()
longest_string

16

In [100]:
fruits[fruits.str.len().idxmax()]

'honeycrisp apple'

5. Write the code to get the string values with 5 or more letters in the name.

In [101]:
five_or_more_letters = fruits.str.lower().str.len() >= 5
fruits[five_or_more_letters]

1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

6. Use the `.apply` method with a lambda function to find the fruit(s) containing the letter `"o"` two or more times.

In [102]:
at_least_two_o = fruits[fruits.apply(lambda fruit: fruit.count('o') >= 2)]
at_least_two_o

6         tomato
15    gooseberry
dtype: object

7. Write the code to get only the string values containing the substring "berry".

In [103]:
berry = fruits[fruits.apply(lambda fruit: 'berry' in fruit)]
berry

2     strawberry
13     blueberry
14    blackberry
15    gooseberry
dtype: object

8. Write the code to get only the string values containing the substring "apple".

In [104]:
apple = fruits[fruits.apply(lambda fruit: 'apple' in fruit)]
apple

3           pineapple
4          gala apple
5    honeycrisp apple
dtype: object

9. Which string value contains the most vowels?

In [112]:
most_vowels = fruits[fruits.str.lower().str.count('[aeiou]').idxmax()]
most_vowels

'honeycrisp apple'

___

___

## Exercises Part III

Use pandas to create a Series named letters from the following string:

        'hnvidduckkqxwymbimkccexbkmqygkxoyndmcxnwqarhyffsjpsrabtjzsypmzadfavyrnndndvswreauxovncxtwzpwejilzjrmmbbgbyxvjtewqthafnbkqplarokkyydtubbmnexoypulzwfhqvckdpqtpoppzqrmcvhhpwgjwupgzhiofohawytlsiyecuproguy'

1. Which letter occurs the most frequently in the letters Series?

In [123]:
letters_string = 'hnvidduckkqxwymbimkccexbkmqygkxoyndmcxnwqarhyffsjpsrabtjzsypmzadfavyrnndndvswreauxovncxtwzpwejilzjrmmbbgbyxvjtewqthafnbkqplarokkyydtubbmnexoypulzwfhqvckdpqtpoppzqrmcvhhpwgjwupgzhiofohawytlsiyecuproguy'

In [124]:
letters = pd.Series(list(letters_string))
letters

0      h
1      n
2      v
3      i
4      d
      ..
195    r
196    o
197    g
198    u
199    y
Length: 200, dtype: object

In [126]:
type(letters)

pandas.core.series.Series

In [130]:
letters.value_counts()

y    13
p    12
w    10
b     9
n     9
k     9
m     9
r     8
a     8
o     8
h     8
x     8
q     8
c     8
d     8
u     7
v     7
t     7
z     7
e     6
f     6
j     6
g     5
i     5
s     5
l     4
dtype: int64

In [135]:
letters.value_counts().nlargest(n=1, keep = 'all')

y    13
dtype: int64

2. Which letter occurs the least frequently?

In [136]:
letters.value_counts().nsmallest(n=1, keep = 'all')

l    4
dtype: int64

3. How many vowels are in the Series?

In [155]:
vowels_in_letters = letters.str.lower().str.count('[aeiou]').sum()
vowels_in_letters

34

4. How many consonants are in the Series?

In [154]:
consonants_in_letters = letters.str.lower().str.count('[aeiou]')
consonants_in_letters

SyntaxError: invalid syntax (2101107926.py, line 1)

5. Create a Series that has all of the same letters but uppercased.

6. Create a bar plot of the frequencies of the 6 most commonly occuring
      letters.

Use pandas to create a Series named numbers from the following list:

        ['$796,459.41', '$278.60', '$482,571.67', '$4,503,915.98', '$2,121,418.3', '$1,260,813.3', '$87,231.01', '$1,509,175.45', '$4,138,548.00', '$2,848,913.80', '$594,715.39', '$4,789,988.17', '$4,513,644.5', '$3,191,059.97', '$1,758,712.24', '$4,338,283.54', '$4,738,303.38', '$2,791,759.67', '$769,681.94', '$452,650.23']

7. What is the data type of the numbers Series?

8. How many elements are in the number Series?

9. Perform the necessary manipulations by accessing Series attributes and methods to convert the numbers Series to a numeric data type.

10. Run the code to discover the maximum value from the Series.

11. Run the code to discover the minimum value from the Series.

12. What is the range of the values in the Series?

13. Bin the data into 4 equally sized intervals or bins and output how many values fall into each bin.

14. Plot the binned data in a meaningful way. Be sure to include a title and axis labels.

Use pandas to create a Series named exam_scores from the following list:

        [60, 86, 75, 62, 93, 71, 60, 83, 95, 78, 65, 72, 69, 81, 96, 80, 85, 92, 82, 78]
        
15. How many elements are in the exam_scores Series?

16. Run the code to discover the minimum, the maximum, the mean, and the median scores for the exam_scores Series.

17. Plot the Series in a meaningful way and make sure your chart has a title and axis labels.

18. Write the code necessary to implement a curve for your exam_grades Series and save this as curved_grades. Add the necessary points to the highest grade to make it 100, and add the same number of points to every other score in the Series as well.

19. Use a method to convert each of the numeric values in the curved_grades Series into a categorical value of letter grades. For example, 86 should be a 'B' and 95 should be an 'A'. Save this as a Series named letter_grades.

20. Plot your new categorical letter_grades Series in a meaninful way and include a title and axis labels.

## More Practice

Revisit the exercises from [https://gist.github.com/ryanorsinger/f7d7c1dd6a328730c04f3dc5c5c69f3a](https://gist.github.com/ryanorsinger/f7d7c1dd6a328730c04f3dc5c5c69f3a). 

After you complete each set of Series exercises, use any extra time you have to pursue the challenge below. You can work on these in the same notebook or file as the Series exercises or create a new practice notebook you can work in a little every day to keep your python and pandas skills sharp by trying to solve problems in multiple ways. *These are not a part of the Series exercises grade, so don't worry if it takes you days or weeks to meet the challenge.*

**Challenge yourself to be able to...**

- solve each using vanilla python.
    
- solve each using list comprehensions.
    
- solve each by using a pandas Series for the data structure instead of lists and using vectorized operations instead of loops and list comprehensions.